<div class="ads col-lg-4 d-none d-lg-block">
    <div class="ads-sidebar sticky-top mt-5">
        <img src="https://placehold.co/250x250" class="img-fluid mb-3 rounded shadow-sm" alt="Anúncio 1">
        <img src="https://placehold.co/250x250" class="img-fluid mb-3 rounded shadow-sm" alt="Anúncio 2">
        <img src="https://placehold.co/250x250" class="img-fluid mb-3 rounded shadow-sm" alt="Anúncio 3">
    </div>
</div>