@using CafeDotNet.Web.Helpers
@using Newtonsoft.Json

@{
    var alert = (TempData["AlertMessage"] != null)
        ? JsonConvert.DeserializeObject<AlertMessage>((string)TempData["AlertMessage"])
        : null;
}

@if (alert != null)
{
    <div id="topAlert" data-aos="flip-up" class="@alert.CssClass alert-dismissible fade show fixed-top mx-auto w-auto" role="alert">
        @alert.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
