<!DOCTYPE html>
<html lang="pt-BR">
<partial name="_ScriptHead" />
<body class="body-admin">
    <partial name="_NavigationAdmin.cshtml" />
     @RenderBody()
    <partial name="_Footer" />
    <partial name="_Alert" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
