<!DOCTYPE html>
<html lang="pt-BR">
<partial name="_ScriptHead" />
<body>
    <partial name="_Navigation" />
     @RenderBody()
    <partial name="_Footer" />
    <partial name="_Alert" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
