<nav class="navbar navbar-expand-lg navbar-ligh" id="mainNav" style="background-color: lightslategrey">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index" alt="Logo Café.Net">
            <img src="~/img/svg/logo-yellow-white.svg" alt="Logo navegação"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="Article" asp-action="Articles">Artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="User" asp-action="Users">Usuários</a>
                </li>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <partial name="_UserMenuPartial" />
                }
            </ul>
        </div>
    </div>
</nav>
