<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Café.Net, onde você pode apreciar novidades gourmet sobre Tecnologia e Análise de Desenvolvimento em Sistemas saboreando um delicioso café!" />
    <meta name="author" content="Café.Net é um oferecimento de J3D Soluções" />
    <title>Cafe.Net: @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/app.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/CafeDotNet.Web.styles.css" asp-append-version="true" />
</head>