@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<partial name="_ScriptHead" />
<body>
    <div class="container text-center my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg border-0 rounded-3">
                    <div class="card-body p-4">
                        <img src="~/img/svg/logo-yellow-black.svg" alt="Logo" width="300" height="auto" />
                        <h1 class="display-4 text-danger mb-3">Ops! Algo deu errado 😥</h1>
                        <p class="lead mb-4">
                            Ocorreu um erro ao processar sua solicitação.
                            Nossa equipe já foi notificada.
                        </p>

                        @if (Model.ShowRequestId)
                        {
                            <p class="text-muted">
                                <strong>ID da Requisição:</strong>
                                <code>@Model.RequestId</code>
                            </p>
                        }

                        <a href="\" class="btn btn-primary mt-3">
                            Voltar para a Página Inicial
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
