@model ContactViewModel

@{
    ViewData["Title"] = Model.Header.Title;
}

<partial name="_Header" model="Model.Header" />

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h2 class="display-6">Vamos conversar?</h2>
                                
                <div class="my-5">
                    <form asp-action="Contact" method="post" novalidate>

                        <div class="mb-4">
                            <div class="d-flex align-items-center mb-1">
                                <i class="fas fa-meh text-secondary me-2" id="icon-Name"></i>
                                <label asp-for="Name" class="form-label mb-0">Nome</label>
                            </div>
                            <input asp-for="Name" class="form-control" placeholder="Seu nome" />
                            <span asp-validation-for="Name" class="text-danger small" id="error-Name"></span>
                        </div>

                        <div class="mb-4">
                            <div class="d-flex align-items-center mb-1">
                                <i class="fas fa-meh text-secondary me-2" id="icon-Email"></i>
                                <label asp-for="Email" class="form-label mb-0">Email</label>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="Seu email" />
                            <span asp-validation-for="Email" class="text-danger small" id="error-Email"></span>
                        </div>

                        <div class="mb-4">
                            <div class="d-flex align-items-center mb-1">
                                <i class="fas fa-meh text-secondary me-2" id="icon-Phone"></i>
                                <label asp-for="Phone" class="form-label mb-0">Telefone</label>
                            </div>
                            <input asp-for="Phone" class="form-control" placeholder="Seu telefone" />
                            <span asp-validation-for="Phone" class="text-danger small" id="error-Phone"></span>
                        </div>

                        <div class="mb-4">
                            <div class="d-flex align-items-center mb-1">
                                <i class="fas fa-meh text-secondary me-2" id="icon-Message"></i>
                                <label asp-for="Message" class="form-label mb-0">Mensagem</label>
                            </div>
                            <textarea asp-for="Message" class="form-control" style="height: 12rem" placeholder="Sua mensagem"></textarea>
                            <span asp-validation-for="Message" class="text-danger small" id="error-Message"></span>
                        </div>

                        <button type="submit" class="btn btn-primary text-uppercase">Enviar</button>
                    </form>
                </div>
            </div>
            <partial name="_Ads" />
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
